<section class="narrow">
    <h1>Player details</h1>

    <ul>
        <li>
            <strong>Name:</strong>
            <%= @user.name %>
        </li>
        <li>
            <strong>Rank:</strong>
            <%= 0 %>
        </li>
    </ul>
</section>
