.player {
  margin: 15px 0;
  padding: 10px;
  background-color: #efeedb;
  border-radius: 5px;

  &.red {
    border: 2px solid #fcaaaa;
  }

  &.blue {
    border: 2px solid #afdaff;
  }

  &.winner {
    border: 3px solid goldenrod;
  }

  .playerDetails {
    display: flex;
    align-items: center;
    justify-content: center;

    .name {
      word-wrap: anywhere;
      font-size: large;
      font-weight: bold;
    }

    .rank {
      color: #b18414;
      font-size: small;
      margin: 0 5px;
      padding-bottom: 5px;
    }
  }

  .stats {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .live {
      color: #408801;
    }

    .money {
      color: #a57402;
    }

    .mana {
      color: #0183ab;
    }

    .currentMove {
      .dot {
        display: block;
        width: 10px;
        height: 10px;
        margin-top: 4px;
        border-radius: 50px;
        background-color: #a74644;
        border: 2px solid #a74644;
      }

      .dotFiled {
        background-color: #a74644;
      }

      .dotEmpty {
        background-color: transparent;
      }
    }
  }
}
