.shop {
  min-width: 400px;
  margin: 15px 0 20px 0;

  .wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    .shopUnit {
      padding: 5px;
      border-radius: 5px;
      border: 2px solid white;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      img {
        transform: scale(1.3);
      }

      &.selected {
        border: 2px solid #7846b0;
      }

      .badge {
        border-radius: 2px;
        padding: 0 5px 5px 5px;
        margin: 0 3px;
      }

      .countBadge {
        @extend .badge;
        background-color: #c7dbb3;
      }

      .moneyBadge {
        @extend .badge;
        background-color: #d7cfb6;
      }
    }
  }
}
