.unit {
  position: relative;
  height: 100%;

  &.red {
    background-color: hsla(0, 51%, 92%, 0.55);
  }

  &.blue {
    background-color: hsla(205, 49%, 92%, 0.55);
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  span {
    position: absolute;
    bottom: 2px;
    right: 2px;
  }

  .statsPreview {
    position: absolute;
    top: 100%;
    left: 0;
    width: 110px;
    height: 145px;
    padding: 5px;
    border: 1px solid #5a5a5a;
    z-index: 100;

    &.red {
      background-color: hsl(0, 51%, 92%);
    }

    &.blue {
      background-color: hsl(205, 49%, 92%);
    }
  }
}
