.unit {
  position: relative;
  height: 100%;

  &.red {
    background-color: hsla(0, 51%, 92%, 0.55);
  }

  &.blue {
    background-color: hsla(205, 49%, 92%, 0.55);
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  span {
    position: absolute;
    bottom: 2px;
    right: 2px;
  }
}
