<section class="narrow">
    <h1>Player details</h1>
    <ul>
        <li>
            <strong>Name:</strong>
            <%= @player.name %>
        </li>
        <li>
            <strong>Rank:</strong>
            <%= @player.rank %>
        </li>
    </ul>
</section>
