.container {
  margin: 0 auto;
  min-width: 430px;
  max-width: 800px;
  width: 100%;
}

.narrow {
  max-width: 350px;
  margin: auto;
}

.swell {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swell-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text-center {
  text-align: center;
}
