<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Revival" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <%= if assigns.user_id do %>
        <%= tag :meta, name: "auth-token", content: Phoenix.Token.sign(@conn, "user auth", @user_id) %>
    <% end %>
</head>
<body>
<header class="page-header">
    <section class="container">
        <nav class="swell">
            <a href="/" class="main-header">The Revival Space</a>
            <%= if assigns.user_id do %>
                <%= link 'Sign out', to: Routes.session_path(@conn, :delete), method: :delete %>
            <% else %>
                <%= link 'Sign in', to: Routes.session_path(@conn, :new) %>
            <% end %>
        </nav>
    </section>
</header>

<main class="container">
    <%= @inner_content %>
</main>

<footer class="page-footer">
    <div class="container swell">
        <a href="https://github.com/yellowmint/revival" target="_blank">GitHub</a>
        <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
            <%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %>
        <% end %>
    </div>
</footer>
</body>
</html>
